main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

#input__entrada{
border-radius: 11px;
border: none;
color: rgb(48, 3, 3);
margin-top: 150px;
text-transform: lowercase;
height: 147px;
width: 429px;
resize: none;
text-align: center;

opacity: 0.7;
}

::placeholder{color: #eb1414;}
#input__entrada:focus{
    outline: none;
}

#input__saida {
    background: white;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: rgb(7, 1, 0);
    margin-left: 170px;
    margin-top: 150px;
    padding-left: 40px;
    height: 260px;
    resize: none;
    opacity: 0.7;
}




.mensagem:focus{
    outline: none;
}

.botoes {
    display: inline-block;
    margin-top: 130px;
}

#botao__criptografar{
    background: #d82a13;
    border: 1px solid #df2f2f ;
    border-radius: 10px;
    color: #01050a;
    cursor: pointer;
    height: 50px;
    margin-left: 45px;
    width: 165px;
}

#botao__descriptografar {
    background-color: #f1eeee;
    border: #df2f2f;
    border-radius: 10px ;
    color: #e21313;
    cursor: pointer;
    height: 50px;
    width: 165px;
}

.botoes2{
    margin-top: 50px;
    margin-left: 180px; 
}

#botao__copiar{
    background-color: #df2f2f;
    border: #df2f2f;
    border-radius: 10px ;
    color: #01050a;
    cursor: pointer;
    height: 32px;
    width: 81px;
   
  
}


#botao__apagar{
    background-color: #f1eeee;
    border: #df2f2f;
    border-radius: 10px ;
    color: #e21313;
    cursor: pointer;
    height: 32px;
    width: 81px;    

}

.informacao {
    color: #01050a;
    font-size: 18px;
    font-size: 20px;
    margin-left: 20px;
}

#aviso__imagem {
    margin-left: 5px;

}

.informacao h6 {
    margin-left: 31px;
    margin-top: -18px;
}

@media screen and (max-width:1040px) {
    main {
        display: flex;
        margin-bottom: 50px;
        margin-left: 80px;
    }

    #input__entrada{
        border-radius: 11px;
        border: none;
        color: rgb(48, 3, 3);
        margin-top: 150px;
        text-transform: lowercase;
        height: 147px;
        width: 330px;
        resize: none;
        text-align: center;
        margin-left: -60px;
        opacity: 0.7;
        }

        ::placeholder{color: #eb1414;}
        #input__entrada:focus{
    outline: none;
}

#input__saida {
    background: white;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: rgb(7, 1, 0);
    margin-left: -335px;
    margin-top: 403px;
    padding-left: 182px;
    height: 173px;
    resize: none;
    opacity: 0.7;
}

.botoes{
    display: inline-flex;
    margin-top: 10px;
    margin-left: -105px; 
}

#botao__criptografar{
    background: #d82a13;
    border: 1px solid #df2f2f ;
    border-radius: 10px;
    color: #01050a;
    cursor: pointer;
    height: 50px;
    margin-left: 45px;
    width: 165px;
}

#botao__descriptografar {
    background-color: #f1eeee;
    border: #df2f2f;
    border-radius: 10px ;
    color: #e21313;
    cursor: pointer;
    height: 50px;
    width: 165px;
}

.informacao {
    color: #01050a;
    font-size: 18px;
    font-size: 20px;
    margin-left: 20px;
}

#aviso__imagem {
    margin-left: -60px;

}

.informacao h6{
    margin-left: -32px;
    margin-top: -18px;
}

.botoes2{
    margin-top: 31px;
    margin-left: -296px;    
}

#botao__copiar{
    background-color: #df2f2f;
    border: #df2f2f;
    border-radius: 10px ;
    color: #01050a;
    cursor: pointer;
    height: 48px;
    width: 125px;
   
  
}


#botao__apagar{
    background-color: #f1eeee;
    border: #df2f2f;
    border-radius: 10px ;
    color: #e21313;
    cursor: pointer;
    height: 48px;
    width: 125px; 

}

.informacao {
    color: #01050a;
    font-size: 18px;
    font-size: 20px;
    margin-left: 20px;
}




}

